html,
body,
section {
    height: 100%;
    font-size: 10px;
    margin: 0px;
}

h1 {
    position: absolute;
    color: red;
    font-weight: 1000;
    font-size: 3rem;
    top: 5vh;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    text-align: center;
}
* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

/* PUSH */
#marker {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 60%;
}

#marker img {
    width: 200px;
    animation: fadeIn;
    animation-duration: 1s;
}

.tweet-container {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    height: 300px;
    margin-left: -200px;
    margin-top: -150px;
    padding-top: 12px;
    color: black;
    font-size: 2rem;
    border-radius: 25px;
    border: 1px solid goldenrod;
    background-color: rgb(248, 248, 255);
    opacity: 0.8;
    max-width: 100%;
}

#tweet {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-width: 100%;
}

#tweet:before,
#tweet:after {
    content: '"';
    font-size: 3rem;
}

/* Pattern styles */
.container {
    display: flex;
    flex-flow: row nowrap;
}

#left-half {
    background-image: url("images/Donald_Trump.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 0;
    overflow: hidden;
    background-position: center;
    text-align: center;
}

#right-half {
    background-image: url("images/Hillary_Clinton.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 0;
    background-position: center;
    overflow: hidden;
    text-align: center;
}

.button-wrapper {
    position: relative;
    top: 70%;
}

button {
    line-height: 60px;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 40px;
    background: salmon;
    border: none;
}
button:hover {
    background: lightsalmon;
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .tweet-container {
        top: 60%;
        height: 220px;
    }
}
