html,
body,
section {
    height: 100%;
    font-size: 10px;
    margin: 0px;
}

h1 {
    position: absolute;
    color: red;
    font-weight: 1000;
    font-size: 3rem;
    top: 5vh;
    left: 40vw;
}
* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

.tweet-container {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 400px;
    height: 300px;

    color: black;
    font-size: 2rem;
    border-radius: 25px;
    border: 1px solid goldenrod;
    background-color: rgb(248, 248, 255);
    opacity: 0.8;
}

#tweet {
    padding-top: 15px;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

#tweet:before,
#tweet:after {
    content: '"';
}

/* Pattern styles */
.container {
    display: flex;
    flex-flow: row nowrap;
}

#left-half {
    background-image: url("images/Donald_Trump.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 0;
    overflow: hidden;
    background-position: center;
    text-align: center;
}

#right-half {
    background-image: url("images/Hillary_Clinton.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 0;
    background-position: center;
    overflow: hidden;
    text-align: center;
}

.button-wrapper {
    position: relative;
    top: 70%;
}

button {
    line-height: 60px;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 40px;
    background: salmon;
    border: none;
}
button:hover {
    background: lightsalmon;
}
